<a href="https://colab.research.google.com/github/Swarn36/Pandas_excercise/blob/main/Auto_MPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2= pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

There are 5 columns not needed if we can see the info

In [ ]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
 9   Unnamed: 9    0 non-null      float64
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.8+ KB

In [ ]:
cars1.drop(cars1.iloc[:, 9:14], axis = 1, inplace=True)

In [ ]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

So we get rid of the dataset

In [ ]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           200 non-null    float64
 1   cylinders     200 non-null    int64
 2   displacement  200 non-null    int64
 3   horsepower    200 non-null    object
 4   weight        200 non-null    int64
 5   acceleration  200 non-null    float64
 6   model         200 non-null    int64
 7   origin        200 non-null    int64
 8   car           200 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.2+ KB

Join this two dataset

In [ ]:
cars1=cars1.append(cars2)
cars1.head()

<ipython-input-8-d21c7931657c>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars1=cars1.append(cars2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [ ]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    int64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model         398 non-null    int64
 7   origin        398 non-null    int64
 8   car           398 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 31.1+ KB

In [ ]:
cars1.shape

(398, 9)

In [ ]:
cars1.groupby(['car'])[['mpg']].value_counts()

car                      mpg
amc ambassador brougham  13.0    1
amc ambassador dpl       15.0    1
amc ambassador sst       17.0    1
amc concord              24.3    1
                         19.4    1
                                ..
vw pickup                44.0    1
vw rabbit                41.5    1
                         29.0    1
vw rabbit c (diesel)     44.3    1
vw rabbit custom         31.9    1
Length: 391, dtype: int64

We need owners column

In [ ]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([63772, 61437, 18414, 34970, 26225, 58999, 67542, 52062, 30398,
       24496, 55244, 57898, 72421, 32874, 36054, 62119, 69833, 55788,
       38512, 38784, 58235, 26146, 21360, 67253, 60631, 64815, 60702,
       66878, 72361, 53133, 19387, 43900, 20146, 18075, 44744, 49790,
       18871, 43230, 60896, 26732, 24846, 69294, 38385, 58608, 33287,
       72202, 68487, 65978, 48078, 24401, 63616, 61314, 15470, 55586,
       29390, 22984, 38061, 71872, 25567, 68288, 63166, 58711, 43651,
       44733, 20809, 31573, 65237, 49219, 22911, 43739, 33567, 33173,
       47079, 26933, 54378, 21336, 60106, 71687, 61281, 18547, 65456,
       67499, 69533, 50756, 72423, 20317, 50223, 26454, 20257, 36461,
       23011, 45015, 44232, 40151, 28146, 15526, 27984, 16373, 28039,
       41804, 34900, 57832, 48339, 53809, 17089, 60005, 18924, 19049,
       50209, 35482, 28012, 32875, 70250, 58851, 34703, 48970, 69253,
       62124, 46878, 32590, 60785, 15497, 16367, 48789, 70502, 67144,
       71844, 52325, 53023, 33797, 62433, 62819, 36173, 66326, 72431,
       65364, 71808, 32580, 63619, 39945, 60062, 24981, 32759, 43052,
       29531, 49309, 33874, 72473, 57137, 65733, 54635, 61947, 43730,
       48265, 54603, 23543, 23112, 25573, 55038, 23349, 72127, 72730,
       63391, 50628, 63420, 23861, 66468, 48069, 63297, 63640, 41273,
       44081, 71412, 67574, 57968, 46397, 44156, 68375, 24810, 45295,
       45569, 42043, 21938, 24081, 66711, 21178, 16261, 39400, 18353,
       33985, 56610, 52217, 26338, 69230, 41157, 37546, 69220, 65581,
       31552, 49741, 35584, 40629, 62168, 22376, 54185, 25813, 35578,
       56142, 48694, 40904, 62576, 61527, 49231, 40430, 42135, 15663,
       61931, 47831, 18348, 58245, 33316, 66151, 44289, 25919, 66770,
       42439, 64550, 26445, 21655, 36898, 25926, 70040, 42257, 43508,
       26799, 53444, 26949, 23696, 55031, 55528, 65049, 28050, 36351,
       34017, 43439, 28920, 60743, 49000, 36976, 59913, 31260, 60868,
       25352, 48998, 67359, 34276, 39489, 26906, 15249, 33259, 41840,
       56259, 53517, 24919, 51143, 22088, 26423, 64241, 42342, 52456,
       21449, 29061, 47490, 27006, 39724, 72093, 34679, 22716, 63797,
       34425, 46923, 23007, 18290, 26953, 24427, 19931, 30878, 56953,
       60995, 16946, 72929, 62548, 53497, 70570, 17645, 62539, 28501,
       51638, 62916, 66404, 32598, 57836, 29863, 51031, 23807, 70344,
       33340, 54646, 15812, 28644, 31371, 19911, 45344, 68367, 27640,
       19898, 46561, 19066, 46366, 24080, 48574, 25029, 26635, 51967,
       15192, 26427, 37157, 55387, 31903, 35625, 33749, 36668, 15819,
       50685, 49255, 63162, 25616, 64344, 69495, 67747, 72661, 46423,
       22076, 33326, 72810, 50206, 53990, 15871, 28088, 40078, 22107,
       72129, 60984, 63851, 30502, 72891, 38358, 40111, 70449, 70009,
       67617, 29810, 61105, 62998, 23452, 25589, 22208, 32807, 54730,
       16903, 58694, 21880, 37603, 55566, 42717, 43450, 30458, 49724,
       27693, 67259, 26709, 24276, 36162, 30302, 39353, 22127, 55740,
       33147, 68351, 21140, 67285, 27178, 55872, 40308, 40780, 55835,
       28474, 41521])

In [ ]:
cars1['owners'] = nr_owners
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,63772
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,61437
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,18414
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,34970
4,17.0,8,302,140,3449,10.5,70,1,ford torino,26225